<div class="topnav" id="myTopnav">
  <div class="nav-icons">
    <a href="/" class="<%= path === '/' ? 'active' : '' %>">
      <i class="material-symbols-outlined"> home </i>
    </a>
    <a href="news" class="<%= path === '/news' ? 'active' : '' %>">News</a>
    <a href="contact" class="<%= path === '/contact' ? 'active' : '' %>"
      >Contact</a
    >
    <a href="about" class="<%= path === '/about' ? 'active' : '' %>">About</a>
  </div>

  <img src="images/cart_logo.png" class="logo" alt="logo" />

  <div class="auth-icons">
    <a href="#Login">Login</a>
    <a href="#register">Register</a>
  </div>
</div>
