<div class="topnav" id="myTopnav">
  <div class="nav-icons">
    <a href="/" class="<%= path === '/' ? 'active' : '' %>" title="Home">
      <span class="material-symbols-outlined"> home </span>
    </a>
  </div>

  <img src="/images/cart_logo.png" class="logo" alt="logo" />


  <a id="cart-button" title="Cart">
    <span class="material-symbols-outlined"> shopping_bag </span>
  </a>

  <div class="auth-icons">
    <a id="profile-button" onclick="showAccessScreen()" title="Profile">
      <span class="material-symbols-outlined"> person </span>
    </a>

    <a id="exit-button" onclick="showAccessScreen()" title="Exit">
      <span class="material-symbols-outlined"> logout </span>
    </a>

  </div>
</div>